torch==2.4.1
torchvision==0.19.1
flwr[simulation]==1.13.0
ray==2.10.0
opacus==1.4.1
mlflow==2.15.1
cryptography==42.0.8
monai==1.5.2
torchio==1.2.0
nibabel==5.4.2
pandas==2.3.3
scikit-learn==1.8.0
scipy==1.17.1
matplotlib==3.10.9
psutil==7.2.2
google-cloud-storage==3.10.1
google-cloud-firestore==2.15.0
grpcio==1.64.3
protobuf==4.25.9
dvc==3.67.1
dvc-gs==3.0.2
safetensors==0.5.2
numpy
git+https://github.com/owkin/FLamby.git@edacf54d5211520583b0133d55ac39b6fda8324b